target/
project/target/
example/target/
.bsp
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.bsp/
.bloop/
.idea/
.vscode/
.DS_Store
*.log
.metals
project/target/
project/project/target/
